# From https://learn.scientific-python.org/development/guides/gha-basic/#updating
version: 2
updates:
    # Maintain dependencies for GitHub Actions
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      groups:
          actions:
              patterns:
                  - "*"
