[project]
name = "gsffile"
dynamic = ["version"]
authors = [{ name = "Carlo Dri" }, { name = "Angelo Peronio" }]
description = "Read and write Gwyddion Simple Field files"
readme = "README.md"
keywords = ["Gwyddion", "Gwyddion Simple Field", "gsf"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    'Programming Language :: Python :: 3.10',
    'Programming Language :: Python :: 3.11',
    'Programming Language :: Python :: 3.12',
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
    "Intended Audience :: Developers",
]
# Support Python and NumPy versions according to the Scientific Python reccomendation.
# <https://scientific-python.org/specs/spec-0000/>
requires-python = ">= 3.10"
dependencies = ["numpy >= 1.24"]
optional-dependencies = { dev = [
    "build",
    "pytest",
    "ruff",
    "twine",
], test = [
    "pytest",
] }

[project.urls]
"Source code" = "https://github.com/angelo-peronio/gsffile"
Issues = "https://github.com/angelo-peronio/gsffile/issues"
"GSF format" = "http://gwyddion.net/documentation/user-guide-en/gsf.html"

[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[tool.hatch]
build.targets.sdist.only-packages = true
version.source = "vcs"

[tool.hatch.version.raw-options]
# To be able to publish dev versions to TestPyPI.
# https://github.com/ofek/hatch-vcs/discussions/12
local_scheme = "no-local-version"

[tool.pytest.ini_options]
addopts = ["--import-mode=importlib"]

[tool.ruff]
src = ["src"]

[tool.ruff.lint]
extend-select = ["ALL"]
ignore = [
    "ANN",    # Type annotations
    "COM812", # Trailing comma missing
    "TRY003", # Long message as argument
]
extend-per-file-ignores."tests/*.py" = [
    "S101", # Assert used
]
pydocstyle.convention = "numpy"
